cicd-townhall-demo1/src/main/mule/cicd-townhall-demo1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e7d4078c-047d-4dd7-953a-5bb915dbc2be" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-townhall-demo1Flow" doc:id="eddfde92-ce44-4875-91c7-788ca70004cb" >
		<http:listener doc:name="Listener" doc:id="eadad0c9-1bb7-43d6-9c1b-05d6be6c4a18" config-ref="HTTP_Listener_config" path="/"/>
		<set-payload value='#["mulesoftssss"]' doc:name="Set Payload" doc:id="fe921e9e-1702-46a6-bbe4-01e2ec19be9f" />
	</flow>
</mule>
